[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bumpversion = "*"
httpie = "*"
pytest-mock = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
ipython = "*"

[packages]
flask = "*"
supervisor = "*"
flask-restful = "*"
pyyaml = "*"
blinker = "*"
pytz = "*"
numpy = "*"
click = "*"
click-log = "*"
paramiko = "*"
fabric = "*"
invoke = "*"
py-dateutil = "*"
gunicorn = "*"
flask-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
